@import "../../styles/globals.scss";

.container{
    p{
        margin: 0;
    }
    blockquote{
        background-color: $light-color-secondary;
        p{
            font-style: italic;
            color: $dark-color-primary;
            padding: 15px;
        }
        p::before{
            content: open-quote;
        }
        p::after{
            content: close-quote;
            
        }
    }
    a:hover{
        text-decoration: underline;
    }
    pre{
        background-color: $dark-color;
        padding: 25px;
        border-radius: 10px;
        white-space: break-spaces;
        code{
            font-size: 16px;
            color: white;
            line-height: 25px;
        }
    }
        pre {
            position: relative;
            overflow: auto;
    
            /* make space  */
            margin: 5px 0;
            border-radius: 10px;
        }
    
        pre button {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 0.9rem;
            padding: 5px;
            background-color: white;
            border-radius: 6px;
        }
    
        pre button:hover {
            cursor: pointer;
            background-color: $light-color-ternary;
        }
        ol,ul{
            li{
                font-size: 16px;
            }
        }
}
.container.dark{
    background-color: transparent;
    color:$dark-color;
}