@import "../../../styles/globals.scss";
.footer {
  margin-top: 2rem;
  @extend .row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  padding: 35px;
  background-color: $light-color-ternary;
  .name,
  a {
    text-decoration: none;
    color: $dark-color-primary;
    font-weight: 600;
    font-size: 16px;
  }
  @media screen and (max-width: 700px) {
    flex-direction: column;
    gap: 15px;
  }
}
.footer.dark {
  background-color: $dark-color-primary;
  color: white;
  a {
    color: white;
  }
}
.footer-logo {
  height: 80px;
  border-radius: 100%;
  cursor: pointer;
}

.mailicon {
  height: 25px;
  width: 25px;
}
