@import "../../../styles/globals.scss";

.container{
    width: 100%;
    padding: 10px;
    margin: 10px;
    @extend .row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    div{
        @extend .column;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
        input{
            font-size: 15px;
            padding: 10px 20px;
            outline: none;
            border-radius: 3px;
            border: none;
            background-color: $light-color-ternary;
            box-shadow: 2px 2px 2px $light-color-primary;
        }
        .error{
            position: absolute;
            top:32px;
            color: red;
            font-size: 12px;
        }
    }
}