@import "../../styles/globals.scss";


.modal{
    @extend .column;
    transition: 500ms ease-in-out;
    justify-content: space-evenly;
    align-items: center;
    z-index: 50;
    background-color: $light-color-ternary;
    padding:1rem 5rem;
    position:fixed;
    top:40vh;
    left:40vw;
    transform:translate(-50%,-50%);
    border-radius: 6px;
    border: 1px solid $dark-color-ternary;
    box-shadow: 6px 6px 5px $light-color-primary ;
    min-height: 250px;
    min-width: 250px;
    div{
        @extend .row;
        justify-content: space-between;
        align-items: center;
    }
}