@import '../../../styles/globals';

.navbar{
    padding: 0 25px;
    a{
        text-decoration: none;
    }
        a.active {
            color: $light-color-primary !important;
            font-weight: 700;
        }
    ul,.linkContainer{
        height: 10vh;
        @extend .row;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        font-size: 18px;
        li{
            @extend .row;
            gap:50px;
            align-items: center;
            justify-content: space-between;
        }
    }
    a{
        transition: all 500ms ease;
        color:$dark-text-color;
    }
    a:hover{
        color:$light-color-primary;
    }
    a:not(.active):hover{
        transform: scale(1.1);
    }
    background-color: $light-color;
    .login_button{
        border: 1px solid black;
        color : black;
        padding: 10px 25px;
        border-radius: 25px;
        transition: all 500ms ease;
    }
    .login_button:hover{
       background-color: black;
       color:white
    }
}
.navbar.dark{
    background-color: black !important;
    a{
        color:white;
    }
        a:hover {
            color: $light-color-primary;
        }
    .login_button{
        border: 1px solid white;
        color : white;
        padding: 10px 25px;
        border-radius: 25px;
        transition: all 500ms ease;
    }
    .login_button:hover{
       background-color: white;
       color:black
    }
}

@media screen and (max-width:900px){
    .navbar{
        padding-left: 0;
        position: sticky;
        top:0;
        left:0;
        // position: relative;
        width:100%;
        ul{     
            height:90vh;
                z-index:2;
                left:0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                margin:0;
                padding: 0;
                background-color: $light-color;
                li{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;
                }
                
                
        }
    }
        .linkContainer{
                padding: 0 25px;
        }
    .linkContainer.dark+ul{
        background-color: black;
    }
}
.menubtnbox {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.line1,
.line2,
.line3 {
    height: 10px;
    width: 40px;
    background-color: $light-color-primary;
    margin: 5px 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all ease-in-out 500ms;
    -webkit-transition:all  ease-in-out 500ms;
    -moz-transition:all  ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    -o-transition:all  ease-in-out 500ms;
}