@import "./globals.scss";

.homePage {
  min-height: 100vh;
  @extend .column;
  justify-content: baseline;
  align-items: center;
}
.notFoundImage {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}
.notfound {
  text-align: center;
  @extend .column;
  justify-content: center;
  align-items: center;
}
.notAvail {
  margin-top: 50px;
  @extend .column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  img {
    border-radius: 100%;
  }
}
.heading {
  align-self: baseline;
  margin-left: 9.3rem;
  @media screen and (max-width: 500px) {
    margin-left: 0;
    align-self: center;
  }
}
