@import '../../../styles/globals';

.tag{
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    padding: 8px 15px;
    margin:5px 5px;
}
.container{
    margin: 10px 0;
    @extend .row;
    align-items: center;
    flex-wrap: wrap;
}